h1 {
    color: #008B8B;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

li {
    font-style:initial
}

body {
    background-color: rgb(211, 212, 212);
}

#Cervezas {
    text-align: center;
}