h1 {
    color: #9370D8;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    background-color: #f8d0d6;
}

#Postres {
    text-align: center;
}