h1 {
    color: #CD5C5C;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    background-color: #fac1c1;
}

p {
    text-align: center;
}

#Postres {
    text-align: center;
}