h1 {
    color: #7B68EE;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    background-color: #E0FFFF;
}

#Vinos {
    text-align: center;
}