h1 {
    color: #008080;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    background-color: #98d3eb;
}

#Entrantes {
    text-align: center;
}