h1 {
    color: #2F4F4F;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    background-color: #a0d4a0;
}

#Principales {
    text-align: center;
}